<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<compilation targetFramework="4.6.2" />
		<httpRuntime targetFramework="4.6.2" />
		<!--Debug構成ではセッションInProcモード -->
		<sessionState timeout="60" mode="Custom" customProvider="MSRRadisCache">
			<providers>
				<!-- MSRのRadisCacheの設定を記載する -->
				<add name="MSRRadisCache" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="test-ase.redis.cache.windows.net" port="6380"
					accessKey="1etduTPCLDfcEQ7Ynkk3KW9tWcu/Ey6dbu9EsQ1HIRM=" ssl="true" throwOnError="true" retryTimeoutInMilliseconds="3000" applicationName="kpoedi"
					connectionTimeoutInMilliseconds="5000" operationTimeoutInMilliseconds="3000"/>
			</providers>
		</sessionState>
	</system.web>
	<system.webServer>
		<!-- キャッシュOFF -->
		<staticContent>
			<clientCache cacheControlMode="DisableCache" />
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
				<add name="Pragma" value="no-cache" />
				<add name="Expires" value="-1" />
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<!-- スタートページ -->
		<defaultDocument enabled="true">
			<files>
				<clear />
				<add value="Login.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>